development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: hackaton_development
  pool:     5

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: hackaton_test
  pool:     5

production:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: hackaton_production
  pool:     5
