%h5
  Add new product to #{cart.name}!

%p
  To add new product to card provide its ID or complete URL:
%form{class: 'new-product-form', method: 'post', action: cart_products_path}
  %input{type: 'hidden', name: 'authenticity_token', value: form_authenticity_token}
  %input{type: 'hidden', name: 'cart_product[cart_id]', value: cart.id}
  .input-field
    %input{type: 'text', id: 'product-id', name: 'cart_product[id]'}
    %label{class: 'active', for: 'product-id'}
      Product ID:
  .input-field
    %input{type: 'text', id: 'product-link', name: 'cart_product[link]'}
    %label{class: 'active', for: 'product-link'}
      Product link:
  .input-field
    %input{type: 'number', id: 'product-quantity', name: 'cart_product[quantity]'}
    %label{class: 'active', for: 'product-quantity'}
      Product quantity:
  .input-field
    %button.btn.waves-effect.waves-light.add-cart-btn{type: 'submit'}
      Add product
      %i.material-icons.right
        send
