%h5 Available carts:

%table.highlight
  %thead
    %tr
      %th City name
      %th Actions

  %tbody
    - @carts.each do |cart|
      %tr
        %td= link_to cart.name, cart
        %td
          %a{href: add_products_cart_path(cart)}
            %i.material-icons
              add
          %a{href: add_products_cart_path(cart), 'data-method': 'delete', href: cart_path(cart)}
            %i.material-icons
              remove

%br

%a.btn.waves-effect.waves-light{href: new_cart_path}
  Create new cart
  %i.material-icons.right
    send
