%p
  %h5
    Showing products for cart:
    = @cart.name
- if @cart.products.empty?
  Looks like you don't have any products in your cart!
  %br
  Perhaps would you like to add a new one?
  %p
    %a.btn.waves-effect.waves-light{href: add_products_cart_path}
      YES!
      %i.material-icons.right
        send
- else
  = render 'product_list', products: @cart.products
