.container
  .row
    .col.16.s12
      %h5.white-text
        Cart Maker!
      %p.grey-text.text-lighten-4
        %strong About
        %br
        Simple application in Ruby on Rails with use of MaterializeCSS and React.js to manage your carts in Piotr i Paweł!
        %br
        Started as a simple app on hackathon organized by
        %a.grey-text.text-lighten-4{href: 'http://netguru.co'}
          netguru.co!
.footer-copyright
  .container
    Copyright &copy; 2015 by MS and MP.
    %a.grey-text.text-lighten-4.right{href: 'https://github.com/'}
      GitHub repository
